:root {
  --grey: #313037;
  --white: #f0eef1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("./src/assets/body-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: var(--grey);
}

h1 {
  font-size: 48px;
}

h2 {
  display: block;
  border-bottom: 2px solid var(--grey);
  padding: 0 0 8px 0;
}

h3 {
  font-size: 18px;
  margin: 32px 0 12px 0;
}

h4 {
  margin: 8px 0;
}

ul {
  list-style-type: none;
}

.cv-other-lists li {
  margin-top: 16px;
}

.cv-main {
  max-width: 850px;
  background-color: var(--white);
  margin: 60px auto;
}

.cv-header {
  display: grid;
  grid-template-areas: "headerImg headerTitle";
  grid-template-columns: 300px 1fr;
}

.cv-header-title {
  grid-area: headerTitle;
  padding: 32px;
}

.cv-header-img {
  grid-area: headerImg;
  width: 100%;
}

.cv-details-section {
  display: grid;
  grid-template-areas: "education experience";
  grid-template-columns: 300px 1fr;
}

.cv-details-education {
  grid-area: education;
  padding: 32px;
  text-align: right;
  background-color: var(--grey);
  color: var(--white);
}
.cv-details-education h2 {
  border-bottom: 2px solid var(--white);
}

.cv-details-experience {
  grid-area: experience;
  padding: 32px;
}

.cv-contact-list li {
  float: left;
  border-left: 1px solid var(--grey);
  padding: 0 5px 0 5px;
  font-size: 12px;
}

.cv-contact-list li:first-child {
  border-left: none;
  padding-left: 0;
}
